<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zack Smith</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/full-width-pics.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Zack Smith</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/42">42 Projects</a>
                    </li>
                    <li>
                        <a href="/side">Side Project</a>
                    </li>
                  <!--   <li>
                        <a href="#">Honest Interview Questions</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
       <div class="container my_name">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="section-heading first-h1">Zack Smith</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Content Section -->
    <div class="container index-content">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img src="/images/picofme.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-xs-8">
                <h3 class="section-heading">A little about me</h3>
                <p class="lead section-lead">Data Analyst/Developer</p>
                <p class="section-paragraph">
                    For the first five years of my career I built models and analyzed data to support business decisions.  In order to continue to grow as an analyst and as a technology enthusiast I decided to learn to code.  I spent a year at an innovative school called 42, where honed my analysis skills in python, implemented machine learning models, mastered the command line, to name of few of the skill I developed.
                </p>
                <p>
                    I am pursuing careers that include both data and development.  Some positions that match these criteria are Data Engineer, Data Scientist, Data Analyst and Analysis Engineer.  I excited to field all inquiries about my background, and will gladly meet for coffee or a phone call!
                </p>
            </div>
        </div>
    </div>


  

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

</body>

</html>
